{% extends "base.html" %}
{% block title %}New Order{% endblock %}
{% block content %}
<h2>New Order</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.customer_name.label }}<br>
        {{ form.customer_name(size=32) }}
    </div>
    <div>
        {{ form.fabric_type.label }}<br>
        {{ form.fabric_type() }}
    </div>
    <div>
        {{ form.quantity.label }}<br>
        {{ form.quantity() }}
    </div>
    <div>
        {{ form.status.label }}<br>
        {{ form.status() }}
    </div>
    <div>
        {{ form.date_received.label }}<br>
        {{ form.date_received() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}

